<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allen's BLOG</title>
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
</head>
<body>
 <div class="container" role="main">
     <div class="jumbotron">
         <h1>Welcome to Allen's blog!</h1>
         <hr>
         {{posts}}
         <hr>
     </div>
     <div class="center-text">
         <h3>Now Time:{{now}}</h3>
     </div>
 </div>
 <script src="jquery/jquery.min.js"></script>
 <script src="Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>